<div class="example-container">
    
<mat-toolbar class="example-toolbar">
        <mat-toolbar-row >
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <i class="fab fa-stack-overflow " style="color:#cc6600"></i>
          <p>Stackoverflow</p>
          <span class="menu-spacer"></span>
          <div *ngIf="!showHead">

            <a mat-stroked-button color="primary" [routerLink]="'/login'" > Log in </a>
            <a mat-raised-button color="primary" [routerLink]="'/register'" > Sign up </a>
          </div>
          <div *ngIf="showHead">
          
              <!-- <span *ngFor="let item of user| keyvalue">   -->
                  <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let item of user| keyvalue">{{item.value}}</button>
                    
                  </mat-menu>         
                 <!-- Value: {{item.value}} -->
                <!-- </span> -->

              <a mat-stroked-button color="primary" [routerLink]="'/'" routerLinkActive="active">x</a>
              <button mat-raised-button (click)="logout()" color="primary"><mat-icon matSuffix>settings_power</mat-icon>logout</button>
            </div>
        </mat-toolbar-row>
      </mat-toolbar>
        <mat-sidenav-container fxFlexFill class="example-sidenav-container">
        <mat-sidenav #sidenav fxLayout="column" mode="side" >
          <mat-nav-list>
      
            <a mat-list-item [routerLink]="'/'"> Accounts </a>
            <a mat-list-item [routerLink]="'/'"> Create Account </a>
            <a mat-list-item [routerLink]="'/'"> Contacts </a>      
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
          <div style="height: 88vh;">
      
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>