.example-card {
    max-width: 300px;
    margin: 4px
  }

  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .fa-stack-overflow {
    font-size: 1.5em;
  }
  .menu-spacer {
        flex: 1 1 auto;
  }
  a:hover {
     color: rgba(14, 142, 189, 0.803)!important;
  }
  
 
