<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <i class="fab fa-stack-overflow fa-2x"></i>
  <mat-card>    
        <mat-card-content>
          <form>
              <p>  
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>  
                       Display name
                    </mat-label>
                    <input  matInput  placeholder="Email" [(ngModel)]="dName" name="dName">
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                 </p>
             <p>  
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>  
                   Email
                </mat-label>
                <input  matInput  placeholder="Email" [(ngModel)]="email" name="email" required>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
             </p>
  
             <p>
              <mat-form-field class="full-width" appearance="outline">
                
                <mat-label> 
                  Password
                </mat-label>
                <input  matInput  type = 'password' placeholder="Password" [(ngModel)]="password" name="password" required>
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
             </p>
             <div class="d-flex justify-content-around">
                <!-- Forgot password -->
                <a href=""><b></b>Forgot password?</a>
              </div>
          </form>
       </mat-card-content>
        <mat-card-actions  align='center'>
          <button mat-raised-button (click)="register()" color="primary">Register</button>
        </mat-card-actions>
  </mat-card>
  <p> Have an account? <a [routerLink]="'/login'"> Login </a></p>
</div>

