<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="margin-left:-8px;">{{qTitle}}</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class='question'>
      <div [innerHTML]="qBody"></div>
      <!-- {{qBody}} -->
    </div>
    <div>
      <mat-chip-list>
        <mat-chip *ngFor='let tag of tags'>{{tag}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class='sub-header'>
      <h1>{{count}} Answers</h1>
    </div>
    <hr>


    <mat-card class="answer" *ngFor='let answ of all'>
      <div [innerHTML]="answ.answer"></div>
      <div *ngFor='let aName of ansName | userName'>
          <div *ngIf='answ.uid == aName.id' class='av'>
             <mat-chip><ngx-avatar size="30" name='{{aName.dName}}'></ngx-avatar>
              {{ aName.dName}}</mat-chip>
          </div>
        </div>
      <div *ngFor='let c of com'>
        <div *ngIf='answ.id === c.answerID'>
          <mat-card class="comment">
            {{c.comment}}
          </mat-card>

        </div>
      </div>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header class='expand'>
          <mat-panel-title class='atitle'>
            add a comment
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="comment here" [(ngModel)]="comment" name="comment">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button (click)="postComment(answ.id)" color="primary">Post Your Comment</button>
        </mat-card-actions>
      </mat-expansion-panel>


    </mat-card>

  </mat-card-content>
  <div class='sub-header'>
    <h1>Your Answer</h1>
  </div>
  <form class="example-form" #form="ngForm" (ngSubmit)="postAnswer(form)">
      <ejs-richtexteditor #fromRTE [(value)]="value" required name="name" [(ngModel)]="value"></ejs-richtexteditor>
  </form>
  <mat-card-actions>
    <button mat-raised-button ejs-button (click)="postAnswer(form)" color="primary">Post Your Answer</button>
  </mat-card-actions>
</mat-card>