<div class ='head'>Ask a public question</div>
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="asking(form)">
        <div>
          <label>
            <b>Title</b>
            <p class="bHint">
              Be specific and imagine you're asking a question to another
              developer
            </p>
          </label>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>
              <!-- Ask a public question -->
              What's your programming question? Be specific.
            </mat-label>
            <input matInput placeholder="what's your programming question? Be specefic" [(ngModel)]="qTitle"
              name="qTitle" required />
            <mat-icon matSuffix>spellcheck</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <label>
            <b>Body</b>
            <p class="bHint">
              Include all the information someone would need to answer your
              question
            </p>
          </label>
          <ejs-richtexteditor #fromRTE [(value)]="value" required name="name" [(ngModel)]="value"></ejs-richtexteditor>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label><b>Tags</b></mat-label>
            <mat-select [formControl]="tags" multiple>
              <mat-option *ngFor="let tag of tagsList" [value]="tag">{{
                tag
              }}</mat-option>
            </mat-select>
            <mat-hint>add upto 5 tags to describe what your question is about</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button ejs-button (click)="asking(form)" color="primary">
        Post Your Question
      </button>
    </mat-card-actions>
  </mat-card>
</div>